
<main>
	<div class="container" id="about-us-section">
	
				<br>
				<h3>About Us</h3>
				<p>
				Virgo Ventures is based in New York City and run by Alison Ostendorf.  The company has extensive experience in real estate investment, mobile responsive web application development, and general entrepreneurship.</p><br>

				<p>At Virgo Ventures, we see responsive mobile web design as a sign of respect to everyone who looks at your website.  All sites should be mobile-repsonsive these days.  It's like getting fully dressed in the morning.  Just do it.</p>

				<h1>Send us an email</h1>
				<%= form_for @contact_us do |f| %>


				<% end %>


		
				<h3>Hire and/or Contact Us</h3>
				<p>
					Email us at <b>team@VirgoVentures.org</b> or<br>
			
					<button type="button" class="action-button btn btn-danger btn-lg transparent" data-toggle="modal" data-target="#web_dev_quote_modal">Request a Quote</button><br>

				</p><br><br>
				<p>
					Follow us on Twitter at <a href="https://twitter.com/Virgo_Ventures" target="_none">@Virgo_Ventures </a>
				</p>
				<br>
				
	</div><!-- end .container -->
</main>
<br>