<main>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<br>
				<h3>About Alison</h3>
				<p>
				Virgo is a kickass lady that lives in New York City, works as a web developer and real estate investor/entrepreneur.</p><br>

				<p>This blog is a place to hear her opinions, concerns, issues, blocks, business announcements, general endorsements, etc.
				</p>
			</div><!-- end div -->
			<div class="col-sm-6">
				<br>
				<h3>Hire and/or Contact Alison</h3>
				<p>
					Email Alison at team@VirgoVentures.org.
				</p>
				<p>
					Follow Alison on Twitter at <a href="https://twitter.com/Virgo_Ventures" target="_none">@Virgo_Ventures </a>
				</p>
				<br>

			</div><!-- end col -->
		</div><!-- end row div -->
		<br>
	</div><!-- end .container -->
</main>
<br>