	<div class="well">
		<div class="row">
			<div class="col-sm-6">
				<br>
				<h3>About Alison</h3>
				<h4>
				Virgo is a kickass lady that lives in New York City, works as a web developer and real estate investor/entrepreneur.</h4><br>

				<h4>This blog is a place to hear her opinions, concerns, issues, blocks, business announcements, general endorsements, etc.
				</h4>
			</div><!-- end div -->
			<div class="col-sm-6">
				<br>
				<h3>Contact Alison</h3>
				<h4>
					Email Alison at team@VirgoVentures.org.
				</h4>
				<h4>
					Follow Alison on Twitter at <a href="https://twitter.com/VirgoBuilds" target="_none">@VirgoBuilds </a>
				</h4>
				<br>
			</div><!-- end col -->
		</div><!-- end row div -->
		<br>
	</div><!-- end well -->
<br>