<!-- Begin articles summary -->
			<section class="align-right">
				<h5 id="articles_summary" class="red">Articles Summary <span class="start_hidden">&#x21E1;</span> <span class="start_visible">&#x21E3;</span></h5>
				<ul id="articles_list">
					<li><a href="#mobile_worker">Mobile Cafe Worker Necessities</a></li>
					<li><a href="#hire_a_va">How to Hire a Virtual Assistant</a></li>
					<li><a href="#in_real_estate">"I'm In Real Estate!" </a></li>
					<li><a href="#beginner_coding_languages">Coding Languages to Learn, Beginning Coder </a></li>
					<li><a href="#real_estate_scams">Real Estate Scams  </a></li>
				</ul>
				<hr>
			</section>
<!-- End articles summary -->
<!-- begin blog articles section -->
			<section>
				<span id="mobile_worker"></span>
				<h3>Mobile Cafe Worker Necessities</h3>
				<p class="align-right"><i>Date: June 26, 2016</i></p>
				<div class="blog-article">

				<p>In the future we will all be mobile workers by default. Working in the same physical office will be a choice, not a requirement.</p>

				<p>Many of you know this because, like me, you've chosen 'work freedom'. You can work from anywhere in the world that has the luxury of internet.</p>

				<p>...aka: You wander around a lot and hope to find somewhere relatively nearby; with wifi, inspiration, and caffeine.</p>

				<p><b>The following items will make it really easy to productively wander around your city.</b></p>
				<br>

				<ul class="black"><u>Essentials:</u>
					<li>Laptop, laptop charge cable</li>
					<li>Extra local data storage for laptop - I recommend Transcend drive, it inserts right into your laptop’s SD slot and is nearly a seamless way to add storage space on the go.  This is particularly useful for a MacBook Air or something with 'small' storage abilities.</li>
					<li>Not just for ladies: chapstick and a scent-free travel-size lotion. Don’t get stuck in a situation where your skin irritates your work.</li>
					<li>Cash. Sometimes cafes don’t take cards.</li>
					<li>Portable phone backup battery - Don’t leave your charging needs up to your laptop. If your phone dies while you’re in transit, you've just wiped out your ability to create a mobile hot spot.</li>
					<li>Earphones. People get annoying.</li>
				</ul>
				<br>
				<ul class="black"><u>Optional (for well prepared people):</u>
					<li>A cube tap - create an outlet if all are taken</li>
					<li>Privacy laptop screen cover - so only a few people can watch you work</li>
					<li>Use of a VPN - eg. Tunnel Bear.  Log on to the public wifi and then turn on your VPN for a more private browsing experience. 
						<small>Disclaimer: Research this on your own. I am not responsible for any security issues that this advice creates.</small>
					</li>
					<li>Foldable water container - doesn't take up much space while you're on the go, but provides a free way to drink available tap water</li>
					<li>Sunglasses - in case people like watching you work a little too much</li>
					<li>Backup earphones. They often break.</li>
					<li>Pen, with several colors.  Sometimes it's nice to write the cave people way.</li>
					<li>Small paper pad. So your pen has a friend, and so that your laptop's issues don't kill your work session.</li>
				</ul>
		
				<br>
				<p class="align-center"><i>~ Cheers to your ongoing mobility. ~</i></p>

				</div><!-- end blog article re mobile cafe worker necessities -->
				<hr id="hire_a_va">

				<span></span>
				<h3>How Hiring a Virtual Assistant (VA) Really Works</h3>
				<p class="align-right"><i>Date: February 23, 2016</i></p>
				<div class="blog-article">

					<p><i class="align-center">If you’re a busy executive, you know the benefits of outsourcing.  Many people have written about how to use a virtual assistant properly, so I will avoid being redundant here.</i></p>
					<br>

					<p><strong>Below are 7 things to know before you begin looking for your own virtual assistant.</strong></p>
					<br>

					<p><b>1.</b> The on boarding process is customized to you. You don’t just start sending tasks to someone who works at a VA company, you interview with them first, there may be an on boarding time, they’re going to have to train you to use their system, and you’re going to have spend at least a few paid hours to train them in how to work for you/your company properly.</p>       
					<p>This process can take a few days and involves submitting a request on the company’s website hear from them at first, wait for them to contact you (some companies fail early here), scheduling the interviews with either the hiring manager or potential assistants themselves, going over contract details, signing the contract, waiting for start date, organizing the tasks (and the task’s instructions) you’ll assign away, and actually starting to work together.</p>

					<p><b>2</b> Sometimes there’s an onboarding fee.  Ask.</p>

					<p><b>3.</b> Sometimes they work at home, sometimes in a supervised office.</p>

					<p><b>4.</b> You pay less per hour when they’re your full time assistant vs. when they’re part time. T he rates advertised online are usually the full time rates. Part time adds about a dollar or two per hour.</p>

					<p><b>5.</b> Indian VAs will probably have an accent. Hire the Philippines or USA if you need an American sounding voice for making calls.  If you want cheaper rates, consider going with an Indian assistant.</p>

					<p><b>6.</b> you should be using an hours tracker and task manager.  Often the company has one they prefer to use.  Consider letting them make this choice.  If they don’t have one, you’ll have to coordinate it and it probably means that the company you’re working with is a VA staffing company rather than an actual full service VA company that hires and oversees the assistants.</p>
					
					<p><b>7.</b> some companies offer a week-long trial. Ask if there is one. Often these perks are mentioned in their email list campaigns, so pay attention to those and if you see a perk, ask to have it attributed to your account.</p>
					<br>

					<p><b>Bonus:</b>  As mentioned at the beginning of this post, you need to learn how to properly delegate virtual tasks, with very clear and concise instructions.  Elsewhere on the internet has a bunch of info on how to do that.</p>
					<br>

				</div><!-- end blog article re hire a va -->
			</hr id="in_real_estate">

				<h3>"I'm in Real Estate!" </h3>
					<p class="align-right"><i>Date: October 22, 2015</i></p>
					<div class="blog-article">
						<p>
						I hate it when New York City people say "I'm in real estate" like they think they just told you that they're a rental agent.</p>
						<p>There are so many more ways to "be in real estate" that aren't being a rental agent, or even any type of agent/broker. </p>

						<p>You can be a(n):
						Investor,  
						Landlord,
						Property manager,  
						Real estate analyst,  
						City planner, 
						Investors apprentice, 
						Private money lender, 
						Private money broker, 
						Mortgage broker, 
						Notes investor, 
						Rehabber/flipper, 
						Rehabbing consultant, 
						Contractor - GC or other, 
						Stager, 
						Interior designer, 
						Architect, 
						Inspector, 
						Appraiser,  
						Structural engineer, 
						Wholesaler,
						Tax lien or deed investor, 
						Real estate tech owner/coder/developer,
						Coach/trainer/community leader for investors, or for any of the above groups,
						Writer/blogger about the real estate industry,
						[insert other intelligent strategy here].</P>

						<p>Fuck you. Don't be an ignorant narcissist and say "I'm in real estate" like you're being informative.
						</p>
					</div><!-- end blog article div -->
				<hr id="beginner_coding_languages">

				<h3>Which coding languages should you learn as a beginning coder?</h3>
					<p class="align-right"><i>Date: July 19, 2015</i></p>
						<div class="blog-article">
							<p>
							I've just started to learn to code. I know nothing about how to do it two weeks ago.  I'm getting pretty good.</p>

							<p>What I've learned:</p>
							<p>If your goal is to make websites, you are absolutely going to have to learn the three front end coding languages. There are only three, and they will not go away, get crazily modified, or lose marketshare any time soon.  They are, in this order: 
							<p>1.  HTML</p>
							<p>2. CSS</p>
							<p>3. JavaScript (an entirely different language from Java. Java is a back end language.)</p>
							   <p>The three front end languages all work together and they edit different features of the appearance of the site.  I highly recommend you learn the trio.</p>
							   <p>Then, to really be in charge of your site and to get to the point where you don't need to use a basic template someone has already built online, you'll need knowledge of a back end language. </p> 
							   <p>There fore, my choice for the fourth language a beginner should learn: PHP.  Here's why:
							   WordPress websites represent something like 47% of market share of the whole internet.  So, learn to use this. Half of the internet seems to think it's good enough for them.  </p>
							   <p>There are two different versions of WordPress: WordPress.com and WordPress.org
							   WordPress.com is for basic people who do not want to learn to code and who only want a very simple and standard solution, like a basic blog.  Not very editable. You edit the site through a Content Management System (CMS), not through editing any code. 
							  WordPress.org is for people who want to be able to do more than just update a basic blog that's already been structurally built for them.  WordPress is built with PHP.   Check out BuiltWith.com and search "wordpress.com" if you don't believe me. </p>
							   <p>So, learn how to interact with the system with the largest market share, and when you get good at Word Press for building nice desktop websites, move on to other languages.    Example: Swift, for building apps for the iPhone.</p><br>

							<p><i>Summary, in this order:
							<p>1. HTML</p>
							<p>2. CSS</p>
							<p>3. JavaScript</p>
							<p>4. PHP</i></p>
						</p>
					</div><!-- end blog article div -->
				<hr id="real_estate_scams">

				<h3>Real estate investing scams I've run into</h3>
					<p class="align-right"><i>Date: March 19, 2015</i></p>
					<div class="blog-article">
						<p>Over the past 2-3 years, training myself in real estate investing in NYC, a market completely different from most others on the world, I've run into a lot of lies/marketing schemes. What bothers me the most is that these "investor coaches" don't seem to care that they're deceiving people who are trying to empower their lives and grow out of their current circumstances.</p>
						<p>All your deals funding unlimited ---> transactional funding for one year
						<p>This works everywhere ---> everywhere in suburbia in the USA.</p>
						<p>You'll learn how to do this HERE ---> within 2 hours driving of here, we didn't mean the area where we're meeting to train you, sorry if that isn't HERE to you.</p>
						<p>We're looking for a few select individuals to join our real estate investing team in your local area ---> we're looking for the few people who will actually pay us thousands of dollars for the privilege of remote coaching about investing wherever in the USA you happen to call "local".</p>
						<p>Come learn real estate investing in just 3 hours! ---> come learn about how to learn about beginning real estate investment in suburbia within 2 hours driving time of here.</p>
					</section><!-- end blog article container -->
				<hr>

<!-- End entire blog articles section.   -->
			