
		<div id="socialwise" class="row white_background">
			<div class="col-sm-6">
				<a href="http://www.so-wise.com/" alt="Socialwise office products" target="_none" class="visible-xs-inline"><%= image_tag("SW_logo.png", class: "align-center logo-images-xs") %></a>

				<h3 class="hidden-xs">Socialwise Partners Inc.</h3>
				<p>
					﻿Socialwise is a charitable, green, socially responsible, business to business office supply company.  We carry over 40,000 office products, cater all the pricing to you and your company's needs, offer amazing customer service, and do it all to raise funds for charity and lead social entrepreneurship.</p>

					<p>We want to change how the world does business. Forever. Join us!  Become a customer by clicking below.</p>

					<a href="http://www.so-wise.com/" class="btn btn-danger" target="_none" alt="Socialwise" alt="office supplies" alt="B Corp" alt="Benefit Corporation">Become a Customer</a>
					<br><br>

			</div><!-- end col dontainer -->
			<div class="col-sm-6 hidden-xs">

				<a href="http://www.so-wise.com/" alt="Socialwise office products" target="_none"><%= image_tag("SW_logo.png", class: "align-center logo-images logo-images-smaller") %></a>
			</div>	
		</div><hr>
		<!-- end socialwise div -->