<h2>Web Development by Virgo Ventures LLC</h2>

<h3>Specialties:</h3> 
	<ul>
		<li>Converting static pages to responsive web pages</li>
		<li>Building custom ruby on rails web applications for real estate investment</li>
	</ul>

<h3>Work samples:</h3>
	<ul>
		<li>Sample 1</li>
	</ul>


<h3>What we can do, in tech terms:</h3>
	<ul>
		<li>Sample 1</li>
	</ul>

<section id="rates">
	<h3>$ Rates:</h3>
		<div class="row">

			<div class="col-md-4">
				<h4>simple, mobile responsive landing page</h4> 
				<p><u>Estimated time to complete:</u> Done in 2 days from start date.  <br>
				   <u>Investment:</u> $1500
				</p>
				<p><u>With SEO:</u> + $1,000 and one week’s time.</p>
			</div><!-- end .col -->

			<div class="col-md-4">		
				<h4>Simple, mobile responsive, full website design.</h4><br>
					<u>Investment:</u> $2,500 - $5,000. <br>
					<u>Estimated time to complete:</u> Done in one week from start date.</p>
				<p><u>With SEO:</u> + $1,000 and one week’s time.</p>
			</div><!-- end .col -->

			<div class="col-md-4">
				<h4>Full scale web application</h4>
				<p><u>Investment:</u> $10k - $50k, depending on scope of work.</p>
				<p><u>Estimated time of complete:</u> 2 weeks - 2 months.
				<p><u>Includes SEO</u></p>
		    - q: (drop down) what counts as a web application vs a simple website?
			</div><!-- end .col -->

		 </div><!-- end .row -->
		 <div class ="row">

		    <div class="col-md-4">
				<h4>Template editing:</h4>
				<p><u>$ Rate:</u> $60/hr, 1 hour minimum per project.<br>
				<p><u>Examples of template editing:</u>
					<ul>
						<li>Editing existing ecommerce templates, like Volition or Shopify.</li>
						<li></li>
					</ul>
				</p>
			</div><!-- end .col -->

			<div class="col-md-4">
				<h4>Consulting or code fixing:</h4>
				<p><u>$ Consulting Rate:</u> $100/hr, 1 hour minimum.<br>
				     Consulting is included and the fee waived for full web app project clients.
				<p><u>Code fixing:</u> $100/hr, 30 min minimum.</p>
				<p><ul>We can consult on the following topics and more:
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</p>
				Referrals to people who do _____(other things I don’t do)___
			</div><!-- end .col -->

		</div><!-- end .row -->
</section><!-- end #rates section -->

<section id="portfolio">
	<h3>Portfolio:</h3>
		<th><h4>Responsive Site Conversion</h4></th>
			<h5>We either take an existing nonresponsive site and convert it to a mobile responsive site, or we build you a fresh one from scratch.</h5>
			</h5>
			 <td><u>Before</u></td>
			 <td><u>After</u></td>

			 <tr>sample 1</tr>
			 <tr>sample 2</tr>

		<h4>Rails applications, built from scratch:</h4>



		</h4>Ecommerce editing and consulting:</h4>

</section><!-- end .portfolio section -->





