<main>
	<h1>Custom, mobile responsive, modern web design and development.</h1>

	<section id="dev_portfolio">

		<h2>Portfolio of work</h2>

		<div class="row">
			<div class="portfolio_item col-md-4 col-sm-6 col-xs-12">
				<a href="http://www.virgoventures.org" target="blank" alt="Virgo Ventures Company Page">
					<h3>Virgo Ventures - About company website</h3>
					<p>Description - This website you're looking at right now.</p>
					<p>Images</p>
				</a>
			</div><!-- end .portfolio_item -->
			<div class="portfolio_item col-md-4 col-sm-6 col-xs-12">
				<a href="http://www.rewholesalerdatabase.com" target="blank" alt="Real Estate Wholesaler Database">
					<h3>Real Estate Wholesaler Database</h3>
					<p>Description</p>
					<p>Images</p>
				</a>
			</div><!-- end .portfolio_item -->
			<div class="portfolio_item col-md-4 col-sm-6 col-xs-12">
				<a href="http://www.http://stagemanagementsupplies.com" target="blank" alt="Stage Management Supplies - SM Kits product site">
					<h3>Stage Management Supplies - responsive ecommerce application</h3>
					<p>Description</p>
					<p>Images</p>
				</a>
			</div><!-- end .portfolio_item -->
			<div class="portfolio_item col-md-4 col-sm-6 col-xs-12">
				<a href="http://www.http://blog.so-wise.com" target="blank" alt="Socialwise Partners Inc. company blog">
					<h3>Socialwise Company Blog with SEO</h3>
					<p>Description</p>
					<p>Images</p>
				</a>
			</div><!-- end .portfolio_item -->
			<div class="portfolio_item col-md-4 col-sm-6 col-xs-12">
				<a href="Sandbox.gymstore.com" target="blank" alt="GymStore.com ecommerce site redevelopment">
					<a href="http://sandbox.gymstore.com" target="blank" alt="GymStore.com ecommerce site">
						<h3>GymStore.com ecommerce site</h3>
						<p>Customized from the Hipster Volusion template.</p>
						<p>Images</p>
					</a>
			</div><!-- end .portfolio_item -->
			<div class="portfolio_item col-md-4 col-sm-6 col-xs-12">
				<a href="http://www.agentsforinvestors.org" target="blank" alt="Agents for Investors company landing page">
					<h3>Agents for Investors - About page</h3>
					<p>Description</p>
					<p>Images</p>
				</a>
			</div><!-- end .portfolio_item -->
			<div class="portfolio_item col-md-12 col-sm-12 col-xs-12">
				<a href="#" alt="#" target="blank">
					<h3>(law office) - responsive redesign</h3>
					<p>Converted their nonresponsive site to a modern, responsive site, and added SEO.</p>
					<p>Images</p>
				</a>
			</div><!-- end .portfolio_item -->
		</div><!-- end .row -->
	</section><!-- end #dev_portfolio -->

	<section id="dev_skills">
		<div class="container">
			<div class="row">
				<h3>Our specialties</h3>

				<p>Converting static websites to responsive, mobiel-friendly websites</p>

				<p>Building custom ruby on rails web applications for real estate investment.</p>
			</div><!-- end .row -->
			<div class="row">
				<h3>Our capabilities</h3>
				<div class="col-xs-6">
					<h4>Coding languages and frameworks</h4>
					<ul>
						<li>HTML</li>
						<li>CSS and SASS</li>
						<li>JQuery and JavaScript</li>
						<li>Bootstrap framework</li>
						<li>Ruby</li>
						<li>Ruby on Rails</li>
					</ul>
				</div>
				<div class="col-xs-6">
					<h4>Additional Development Skills</h4>
					<ul>
						<li>Responsive design</li>
						<li>Online payments via Stripe</li>
						<li>Cloud computing via AWS (Amazon Web Services)</li>
						<li>SEO (Search Engine Optimization)</li>
						<li>Growth Hacking</li>
						<li>Activity-triggered emails</li>
						<li>Data sorting</li>
						<li>Business systems automation</li>
						<li>eCommerce template editing</li>
						<li>Creating websites from scratch</li>
					</ul>
				</div><!-- end col -->
			</div><!-- end .row -->
		</div><!-- end .container -->
	</section><!-- end .dev_skills -->

	<section id="dev_rates">
		<div class="container">
			<h3>$ Rates for our custom web development:</h3>
			
				<div class="rate_category">
					<h4>Simple, mobile responsive landing page v ^</h4>
				</div><!-- end .rate_category -->
				<div class="rate_category_details">
					<p><u>Estimated time to complete:</u> Done in 2 days from start date.  <br>
					   <u>Your Investment:</u> $1500 <br>
					   <p>Reason for this price: TODO</p>
					</p>
					<p><u>With SEO:</u> + $1,000 and one week’s time.</p>
					<br>
			    	<p>Example of our work:</p>
			    	<p>TODO</p>
			    </div><!-- end .rate_category_details -->
		
				<div class="rate_category">	
					<h4>Simple, mobile responsive, full website design.</h4>
				</div>
				<div class="rate_category_details">
						<u>Estimated time to complete:</u> Done in one week from agreed upon start date. (Often complete in 3 days.)</p>
						<u>Your Investment:</u> $3000 USD flat fee <br>
						<p>Reason for this price: TODO</p>
					<p><u>With SEO:</u> + $1,000 and one week’s time.</p>
					<br>
					<h5>Examples of our work:</h5>
					TODO include images before/after and THEN a link...
			    	<p><%= link_to "Astoria Real Estate Agent", "http://www.astoriarealestateagent.com", target: "_none" %></p>
				</div><!-- end .rate_category_details -->

				<div class="rate_category">
					<h4>Full scale web application</h4>
				</div>
				<div class="rate_category_details">
					<p><u>Investment:</u> $10k - $50k, depending on scope of work.</p>
					<p><u>Estimated time of complete:</u> 2 weeks - 2 months.
					<p>Reason for this price: TODO</p>
					<p><u>Includes SEO</u></p>
			    - q: (drop down) what counts as a web application vs a simple website?
					<br>
			    	<p>Examples of our work:</p>
			    	<ul>
			    		<li><%= link_to "Real Estate Wholesaler Database", "http://www.rewholesalerdb.com", target: "_none" %></li>
			    		<li>TODO - SM Kits</li>
			    		<li>TODO - IPM</li>
			    	</ul>
			    </div><!-- end .rate_category_details -->

		    	<div class="rate_category">
					<h4>eCommerce template editing:</h4>
				</div>
				<div class="rate_category_details">
					<p><u>$ Rate:</u> $5000 per full scale project<br>
					<p>Reason for this price: TODO</p>
					<p><u>Examples of template editing:</u>
					<p>Editing existing ecommerce templates, like Volition or Shopify.</p>
					</p>
					<br>
			    	<h5>Example of our work:</h5>
			    	<p><%= link_to "Gymstore.com", "http://www.gymstore.com", target: "_none" %></p>
		    	</div><!-- end .rate_category_details -->

				<div class="rate_category">
					<h4>Consulting or code fixing:</h4>
				</div>
				<div class="rate_category_details">
					<p><u>$ Consulting Rate:</u> $100/hr, 1 hour minimum.<br>
					     Consulting is included and the fee waived for full web app project clients.
					<p><u>Code fixing:</u> $100/hr, 30 min minimum.</p>
					<p>Reason for this price: TODO</p>
					<p><ul>We can consult on the following topics and more:
							<li>TODO</li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</p>
					Referrals to people who do _____(graphic design, photography, photo editing, video developement, mobile app development, other things I don’t do)___
				</div><!-- end .rate_category_details -->
			</div><!-- end .container -->
	</section><!-- end #dev_rates section -->

</main><!-- end .page_container -->




