<h1>Web Development by Virgo Ventures LLC</h1>

<h2>Specialties:</h2> 
	<ul>
		<li>Converting static pages to responsive web pages</li>
		<li>Building custom ruby on rails web applications for real estate investment</li>
	</ul>

<h3>Work samples:</h3>
	<ul>
		<li>Sample 1</li>
	</ul>
