<section id="newsletter_section">
<!--   <p class="red">Sign Up for the Newsletter</p> -->
  <form class="form-inline" id="agile-form" action="https://virgoventures.agilecrm.com/formsubmit" method="GET">
    <fieldset>

      <!-- Form Name -->
      <div style="display: none; height: 0px; width: 0px;">
        <input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Subscribe to Newsletter">
        <input type="hidden" id="_agile_domain" name="_agile_domain" value="virgoventures">
        <input type="hidden" id="_agile_api" name="_agile_api" value="ta5pf5c8heg3r7tqatdg8jllo8">
        <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="#">
        <input type="hidden" id="_agile_form_id_tags" name="tags" value="VVEmailList">

        <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5769015641243648">
      </div>

      <!-- Full Name - Text input-->
      <div class="required-control">
        <input id="agilefield-2" class="form-control" name="first_name" type="text" placeholder="Your Name" class="agile-height-default" required="">
      </div>
      <!-- Email address - Text input-->
      <div class="required-control">
          <input id="agilefield-1" class="form-control" name="email" type="email" placeholder="Your Email Address" class="agile-height-default" required="">
      </div>
      <div class="clearfix"></div>
      <!-- Subscribe Button -->
      <div>
          <button type="submit" class="btn btn-danger">Subscribe</button><span id="agile-error-msg"></span>
      </div>

    </fieldset>
  </form>

  <script type="text/javascript">
  (function(a){var b=a.onload,p=false;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};a.document.forms["agile-form"].onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v4()}catch(b){this.submit()}}})(window);
  </script>
</section><!-- end #newsletter_section -->