<!-- Nav text for screens not xs -->
<div id="logo-upper-left-nav" class="hidden-sm hidden-xs">
	<%= link_to image_tag('vv_logo.png', alt: 'Virgo Ventures logo'), root_path %>
</div><!-- #logo-sm-upper-left-nav -->

<!-- <div id="nav-company-name" class="hidden-lg hidden-md text-center">
	<h4>Virgo Ventures</h4>
</div> -->

<nav id="bignav" class="hidden-xs hidden-sm container nav-text">
	<ul>
		<li><%= link_to "Web Development", web_dev_path %></li>
		<li><%= link_to "Our Ventures", ventures_path %></li>
		<li><a type="button" data-toggle="modal" data-target="#hiringModal">Careers</a></li>
		<li><%= link_to "Contact", about_path %></li>
	</ul>
</nav>
<div class="hidden-sm hidden-xs">
	<br><br><br><br><br><br>
</div>
<div class="clearfix"></div>
		
<!-- end Nav text for screens not xs -->
