<!-- begin header, tagline, and nav area  -->

			<section id="headline_container"class="container align-center text-center">
				<h1 class="align-left headline no-wrap">Virgo Ventures</h1>
				<h2 class="hidden-xs hidden-sm align-left indent tagline">Opinions of a web developer / entrepreneuer.</h2>
				<h2 class="hidden-md hidden-lg text-center tagline">Opinions of a web developer / entrepreneuer.</h2>
			</section><!-- end .container -->

			<%= render 'layouts/big_nav' %>
			
			<hr>
<!-- end header, tagline, and nav area -->