<section id="hiring-modal-section">
	<!-- Newsletter Modal -->
	<div class="modal fade" id="hiringModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
	        </button>
	        <!-- h4 used to have an id with modal name? -->
	        <h4 class="modal-title"></h4>
	        <div class="text-center"><%= image_tag('vv_logo', class: 'text-center logo-100') %></div>
	        <h2 class="text-center move-down">We are currenlty hiring for:</h2>
	      </div><!-- end modal header -->
	      <div class="modal-body">

			<!-- hiring inner text start here  -->
			<section id="job-1">
				<div class="job-name">
					<p class="text-center">Location: New York City</p>
					<p class="text-center">Part time social media manager with real estate experience.</p>
				</div><!-- end .job-name -->
				<p>We can train you in social media - what's important to us is that you:
					<ul>
						<li>like real estate</li>
						<li>know at least a little bit about real estate</li>
						<li>think like an entrepreneur - you are a self starter and you know how to get things done</li>
						<li>Have the time and focus to dedicate to a part time position</li>
					</ul>
				</p>
				<p class="text-center">If this is you, email us at <i>team@virgoventures.org</i> with the subject line <br><b>"Application for Real Estate Social Media Position"</b></p>
			</section>
			<!-- hiring inner text end here -->

	      </div>
	   
	    </div>
	  </div>
	</div>
</section><!-- end newsletter modal code section -->


