begin hover Nav text for xs screens -->
			TODO: all these paths would have to be transferred to rails routes if we were to use this system. 
				<nav id="xsnav" class="visible-xs-inline align-left">

					<div id="hamburger" class="align-left">
						 &#9776; Menu
					</div>

					<ul>
						<li><a href="pages/VirgoVentures.html">Virgo's Ventures</a></li>
						<li>TODO: insert link to web development page</li>
						<li><a href="pages/VirgoProperties.html">Virgo's Properties</a></li>
						<li><a href="index.html">Virgo's Blog</a></li>
						<li><a href="pages/ContactVirgo.html">Contact Virgo</a></li>
					</ul>

				</nav>
			
			<div class="clear"></div>
<!-- end hover nav text for xs screens