<!-- Begin newsletter code -->
				<div class="clearfix"></div>
				
				<div id="newsletter-container">
					<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"> -->
					
					<div id="mc_embed_signup">

						<form action="//virgoventures.us12.list-manage.com/subscribe/post?u=ce2ed06104e029152e8faa88e&amp;id=5e25a52cae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll" class="oneline form-group">
						    	<h3 class="newsletter-text nowrap align-right">Newsletter Sign-up</h3>
								<div id="inputfield">
									<input class="newsletter-text form-control" type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder=" Email address" required>
								</div><!-- end .border -->
							    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							    <div style="position: absolute; left: -5000px;" aria-hidden="true">
							    	<input type="text" name="b_ce2ed06104e029152e8faa88e_5e25a52cae" tabindex="-1" value="">
							    </div>
							    <div class="align-right">
						    		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default align-right light-padding">
						    	</div>
						    </div><!-- div for signup -->
						</form>
					</div>
				</div><!-- end #newsletter-container -->

				<div class="clearfix hidden-md hidden-lg"></div>
			
<!-- end newsletter code -->