<section id="web_dev_quote_modal_section">
	<!-- Newsletter Modal -->
	<div class="modal fade" id="web_dev_quote_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	        <div class="text-center"><%= image_tag('vv_logo', class: 'text-center logo-100') %></div>
	        <h2 class="text-center move-down">Request a Quote</h2>
	      </div><!-- end modal header -->
	      <div class="modal-body">
	        <p>We're excited to quickly get to work with you.  We are based in New York, NY, and can often finish and upload your site within 3 working days.</p>

	   		<p>But first, we need some information about your project.</p>
	   		<p>Please email us at <b>team@VirgoVentures.org</b> with the information below.</p>

	   		<!-- <p>form TODO put here</p> -->
	   		<br>
	   		<section class="red">
	   		<p>Your Name<br>
	   		Company Name<br>
	   		Description of project<br>
	   		Type of project<!-- (select from dropdown) -->
	   		(is this a redesign of an existing site, or an entirely new site?)<br>
	   		Have you already spoken to a member of our staff about this project?<br>
	   		Timeline - how urgent is the completion of this project?<br>
	   		Contact info: The best email address to send a quote to, and your phone # if we have questions.
	   		<br><br>
	   		</section>
	   		<h4 class="text-center">Thank you! We will be in touch shortly.</h4>
	   		<!-- <div class="text-center">
		   		<button class="btn btn-danger btn-lg transparent">Let's Get to Work</button>
		   	</div> -->
	   			<!-- this should send info to me somehow so i can contact the lead and give them a quiote -->
	      </div>
	   
	    </div>
	  </div>
	</div>
</section><!-- end newsletter modal code section -->